<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>

</head>
<body>
    <form class="search">
        <button class="img_button" type="submit" name=" click" value="">
            <i class="fas fa-search"></i>
        </button>
        <input class="keyword" type="text" name="search" maxlength=255 value="" autocomplete="off"> 

    </form>
    <img src="" alt="">
</body>
</html> -->
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>HTML input tag - type="search"</title>
</head>
<body>
    <!-- action="http://localhost:5000/image/gallary" -->

    <form  method="GET">
        검색 : <input type="search" name="keyword">
        <!-- q에 값이 들어감 -->
        <input type="submit">
	</form>
    
</body>
</html>